
/* inactive -> 비활성화 상태 | active -> 활성화 상태 */
/* keyframes -> 키를 눌렀을때 애니메이션(밝아 졌다 어두워졌다효과) */

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0px 0px 4px #efcfa9;
  }
  80% {
    box-shadow: 0px 0px 12px #efcfa9;
  }
}

[data-state="active"] {
  animation: pulse 0.5s ease-in-out infinite;
}



/* 기본 설정 값 */

[data-state="inactive"],
[data-state="active"] {
  --key-radius: 7px;
  font-size: 20px;
  font-weight: 700;
  font-family: "YeogiOttaeJalnan";
  /* font-family: "Bauhaus 93"; */
  transition: 0.07s ease-in-out;
}
 
[data-state="inactive"] {
  --key-bg: transparent;
  --key-border: 3px solid #7b7b7b;
  --key-text-color: #b1b1b1;
  /* box-shadow: 0px 4px 0px #7b7b7b; */
}



/* 키 설정 값 */

.key[data-state="inactive"] {
  --key-border: 3px solid #494035;
  --key-text-color: #545454;
  box-shadow: 0px 0px 4px #494035, 0px 0px 4px #494035;
}

/* background 의 url 값 변경시 이미지 변경 가능 (단 이미지는 주소가 변하지 않는 값이여야 함)*/

.key[data-state="active"] {
  background: url("https://Image_Link_Here_BY_KEY") center/cover no-repeat !important;
  transition-property: box-shadow, text-shadow, color, border-color !important;
  --key-border: 3px solid #efcfa9;
  --key-text-color: #eda348;
  text-shadow: 0px 0px 3px #efcfa9;
  box-shadow: 3px 5px 10px #96836b, 3px 5px 10px #96836b;
}
/*
background: url("") center/cover no-repeat !important;
*/
.key .counter[data-counter-state="inactive"] {
  --counter-color: #626262;
}



/* 사이드/라인 키 설정 값 */

.line[data-state="inactive"] {
  --key-bg: transparent;
  --key-border: 3px solid #616161;
  --key-text-color: #b1b1b1;
  /* box-shadow: 0px 4px 0px #7b7b7b; */
}

/* background 의 url 값 변경시 이미지 변경 가능 (단 이미지는 주소가 변하지 않는 값이여야 함)*/

.line1[data-state="active"] {
  background: url("https://Image_Link_Here_BY_LINE1") center/cover no-repeat !important;
  transition-property: box-shadow, text-shadow, color, border-color !important;
  --key-border: 3px solid #8b7b60;
  --key-text-color: #b1b1b1;  
}

.line2[data-state="active"] {
  background: url("https://Image_Link_Here_BY_LINE2") center/cover no-repeat !important;
  transition-property: box-shadow, text-shadow, color, border-color !important;
  --key-border: 3px solid #8b7b60;
  --key-text-color: #b1b1b1;  
}



/* 평균 kps 그래프 설정값 */

.grap[data-state="inactive"] {
  background: url("https://Image_Link_Here_BY_GRAPBG") center/cover no-repeat !important;
  transition-property: box-shadow, text-shadow, color, border-color !important;
  --key-border: 3px solid #959595;
  --key-text-color: #000000;
  text-shadow: 0px 0px 3px #959595;
  box-shadow: 0px 0px 4px #959595, 0px 0px 4px #959595;
}



/* kps 설정값 */

.kps1[data-state="inactive"] {
  --key-border: 3px solid #959595;
  --key-text-color: #ffffff;
  text-shadow: 0px 0px 3px #959595;
  box-shadow: 0px 0px 4px #959595, 0px 0px 4px #959595;
}

.kps1 .counter[data-counter-state="inactive"] {
  --counter-color: #ffffff;
  text-shadow: 0px 0px 3px #c5c5c5;
}
 


/* 카운터 글시 설정값 */

.counter {
  font-size: 24px;
  font-weight: 700;
}
 
.counter[data-counter-state="inactive"] {
  --counter-color: #6b6b6b;
}
 
.counter[data-counter-state="active"] {
  --counter-color: #ffffff;
  text-shadow: 0px 0px 3px #bbbbbb;
}
